*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    background-color: #111111;
    font-family: gilroy;
}
#main{
    position: relative;
    width: 100%;
    
}
#icon img{
    height: 45px;
    position: absolute;
    left: 20%;
  margin: 15px;
  z-index: 99999;
}
#nav {
 
    text-align: right;
 left: 60%;
    position: absolute;
    top: 10px;
    height: 35px;
  display: flex;
    color: rgb(255, 254, 254);
    
    gap: 40px;
    font-family: gilroy;
    font-size:10px ;
    align-items: center;
    
}
#main2{
    position: absolute;
    width: 100%;
    display: flex;
    top: 10%;
    height: 80%;
}
#left{
 
    left: 0%;
    height: 100%;
    width: 50%;

}
#right{
    right: 0%;
    position: absolute;
    text-align: left;
    height: 100%;
    width: 50%;
    color: white;
    top: 40%;
}
#left img{
    
   height: 120%;
    position: absolute;
  left: 20%;
  bottom: 5%;

}
#right h3{
    color: #b41a27;
}
#right h1{
    font-size: 60px;
}
#right p{
    font-size: 13px;
    padding-bottom: 10px;
    width: 70%;
}
#right button{
background-color:#b41a27 ;
padding: 5px 25px;
color: white;
border-radius: 10px;
}
#main3{
    position: absolute;
    left: 6%;
    top: 79.9%;
    width: 80%;
    height: 80%;
  
}
#l3{
    height: 100%;
  width: 57%;
    background-color: #171717;
}

#card1{
    text-align: left;
    top: 10%;
    left: 30%;
    position: absolute;
    height: 50%;
    width: 15%;
    background-color: #1d1d1d;
    border-radius: 15px;
}

#card2{
    top: 10%;
    left: 50%;
    position: absolute;
    height: 50%;
    width: 15%;
    background-color: #961b26 ;
    border-radius: 15px;
}
#card3{
    top: 10%;
    left: 70%;
    position: absolute;
    height: 50%;
    width: 15%;
    background-color: #1d1d1d;
    border-radius: 15px;
}
#card1 img{
    height: 30px;
    
    position: absolute;
    left: 15%;
    top: 24%;
}
#r3 #card1 h3 {
    color: white;
    position: absolute;
    left: 15%;
    top: 35%;
    font-size: 20px;
    width: 60%;
    
}
#card1 p{
    color: white;
    position: absolute;
    left: 15%;
    top: 45%;

    font-size: 9px;
}
#card1 a{
    color: white;
    text-decoration: underline;
    position: absolute;
    font-size: 15px;
    bottom: 30%;
    left: 30%;
}
#card2 img{
    height: 30px;
    
    position: absolute;
    left: 15%;
    top: 24%;
}

#r3 #card2 h3 {
    width: 100%;
    color: white;
    position: absolute;
    left: 15%;
    top: 35%;
    font-size: 20px;
}
#card2 p{
    color: white;
    position: absolute;
    left: 15%;
    top: 45%;
    
    font-size: 9px;
}
#card2 a{
    color: white;
    text-decoration: underline;
    position: absolute;
    font-size: 15px;
    bottom: 30%;
    left: 30%;
}
#card3 img{
    height: 30px;
  
    position: absolute;
    left: 15%;
    top: 24%;
}

#r3 #card3 h3 {
    color: white;
    position: absolute;
    left: 15%;
    top: 35%;

    font-size: 20px;
}
#card3 p{
    color: white;
    position: absolute;
    left: 15%;
    top: 45%;
  
    font-size: 9px;
}
#card3 a{
    color: white;
    text-decoration: underline;
    position: absolute;
    font-size: 15px;
    bottom: 30%;
    left: 30%;
}
#l3 h1{
   text-align: center;
   
   color: #B41A27
   ;
   position: absolute;
   top: 80%;
   right: 57%;
   font-size: 60px;
   font-weight: 900;
 
}
#l3 h3{
    position: absolute;
    top: 91%;
    right: 50%;
    color: white;
    font-size: 30px;
    font-weight: 500;
    
}
#main4{
    color: white;
    position: relative;
    width: 100%;
}
#top{
    position: absolute;
    top: 100%;
}
#l3 span{
   
    color: white;
    position: absolute;
    bottom: -20%;
}
#l3 h2{
    font-size: 40px;
}
#l3 button{
    color: white;
    background-color: #B41A27;
    top: 10%;
 position: absolute;
 right: -250%;
 padding: 10px 32px;
 border-radius: 12px;
}
#btm{
    position: absolute;
    bottom: -100%;
    left: 0%;
    display: flex;
    gap: 100px;
    height: 70%;
  
}
#btm #one{
    background-color: #1d1d1d;
    padding: 30px 70px;
}
#btm #two{
    background-color: #1d1d1d;
    padding: 30px 70px;
}
#btm1{
    position: absolute;
    bottom: -190%;
    left: 0%;
    display: flex;
    gap: 100px;
    height: 70%;
  
}
#btm1 #f{
    background-color: #1d1d1d;
    padding: 30px 70px;
    z-index: 9999;
}
#btm1 #s{
    background-color: #1d1d1d;
    padding: 30px 70px;
    z-index: 99999;
}
#bottom{
    background-color: #171717;
    height: 70%;
    width: 100%;
  position: absolute;
 bottom: -255%;
 
}
#box{
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 88.7%;
    left: 6%;
    color: white;
    bottom: -20%;
    position: absolute;
    z-index: 99999;
    background-color: #1d1d1d;
    height: 50%;
    padding: 12px;
}
#box h1{
    text-align: left;
    width: 70%;
    padding-left: 20%;
}
#box p{
    padding-top: 22px;
    padding-left: 20%;
    width: 80%;
}
#box button{
    color: white;
    padding: 10px 30px;
    background-color: #B41A27;
 font-family: "gilroy";
 border-radius: 12px;
}
#nav2{
    display: flex;
    gap: 70px
    ;
    position: absolute;
    bottom: -50%;
    left: 37%;
   
}
#nav2 a{
    text-decoration: none;
    color: rgb(255, 254, 254);
    font-weight: 600;
}
#nav3{
    background-color: #1d1d1d;
    position: absolute;
    z-index: 999999;
    bottom: -70%;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px
    ;
    
   
}
#nav3 i{
    font-size: 30px;
    color: white;

}
#nav3 img{
    height: 30px;
    position: absolute;
    left: 10%;
}
#nav3 h1{
    position: absolute;
    color: white;
    right: 10%;
    font-size: 20px;
    word-spacing: 2px;
    letter-spacing: 2px;
}

